
.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;

  & div:first-child {
    height: 6px !important;
  }

  &-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9999;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    transition: all .4s;
  }
}

.custom-progress-horizontal {
  display: block;
  width: 100%;
  height: 10px;
  margin: 0;
  background-color: #323165;

  .custom-bar-horizontal {
    width: 50%;
    height: 100%;
    margin-left: 0;
    background-color: #7367f0;

    animation-name: spinner;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-iteration-count: infinite;
  }

  @keyframes spinner {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
      margin-left: 50%;
    }
    100% {
      width: 0;
      margin-left: 100%;
    }
  }
}

.c-image {
  $size: 200px;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  cursor: pointer;

  .c-image-content {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    //background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.notification-container {
  left: calc(50% - 160px);
  overflow-y: hidden !important;
}

 // Custom styles
.preformatted {
  white-space: pre-wrap;
}

.search-width {
  width: 280px;
}

.search-width-wide {
  width: 280px;
}

.score-size-5 {
  height: 38px !important;
  width: 38px !important;
  padding: 0 !important;
}

.score-size-4 {
  //height: 40px !important;
  //padding-top: 9px !important;

  height: 36px !important;
  width: 36px !important;
  padding: 0 !important;
}

.score-size-3 {
  //height: 35px !important;
  //padding-top: 7px !important;

  height: 34px !important;
  width: 34px !important;
  padding: 0 !important;
}

.score-size-2 {
  //height: 30px !important;
  //padding-top: 5px !important;

  height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
}

.score-size-1 {
  //height: 25px !important;
  //padding-top: 3px !important;

  height: 30px !important;
  width: 30px !important;
  padding: 0 !important;
}

.hand-cusor {
  cursor: pointer !important;
}

.width-100-percent {
  width: 100% !important;
}

.height-xx {
  height: 20%;
}

.dot {
  margin-left: 6px;
  margin-top: 2px;
  border: 8px solid #7367f0;
  border-radius: 50%;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

.zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  //border-top: 5px solid #fff;
  //border-bottom: 5px solid #fff;
  background: #7367f0;
  width: 100%;
}

.zoom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #7367f0;
  background: #7367f0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #7367f0;
  background: #7367f0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  border-radius: 50%;
}

.controls:hover input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

.play-button {
  background: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bg-custom-blue { background-color: #448aff !important; }
.text-custom-blue { color: #448aff !important; }

.bg-custom-brown { background-color: #bf8970 !important; }
.text-custom-brown { color: #bf8970 !important; }

.bg-custom-gray { background-color: #607d8b !important; }
.text-custom-gray { color: #607d8b !important; }

.bg-custom-yellow { background-color: #ffc107 !important; }
.text-custom-yellow { color: #ffc107 !important; }