@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

.react-datepicker-popper {
  z-index: 100 !important;
}

.react-datepicker__day--outside-month {
  //display: none !important;
  visibility: hidden;
}

.flex-1 {
  flex: 1;
}
